.hoo-head {
    display: table;
    width: 100%;
}
.hoo-head img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 5px;
}
#wphead {
    display: inline-block;
    vertical-align: middle;
}

#location-form .inside ul {
}
#location-form .inside ul li label {
    display: inline-block;
    width: 25%;
}

#location-form .inside ul li input[type="text"] {
    width: 60%;
}

#location-form #postbox-container-1 .inside ul li label {
    display: inline-block;
    width: 60%;
}
#location-form #postbox-container-1 .inside ul li input[type="text"] {
    display: inline-block;
    width: 30%;
}

#location-form .inside ul li textarea {
    width: 60%;
}

.locations td.position {
    cursor: move;
}

}