.hoo-head {
    position: relative;
    width: 100%;
}

.hoo-head .hoo-logo {
    float: left;
    width: 100px;
    margin: 0 20px 10px 0;
}

.hoo-head .hoo-title {
    padding: 5px;
}

.hoo-head .hoo-logo span {
    position: absolute;
    top: 0;
    left: 36px;
    font-size: 1.5em;
}

.hoo-head .hoo-logo img {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 5px 5px 5px;
}

.hoo-head .hoo-title ol {
   
}

.hoo-head .hoo-title ol li {
    list-style-type: none;
    display: inline;
}

.hoo-head .updated {
    clear: left;
}

#wphead {
    border-bottom: none;
}
#wphead:after {
}

.metabox-form .inside ul li label.wpt-form-label {
    display: inline-block;
    width: 25%;
}

.metabox-form .inside ul li input[type="text"].datetime {
    width: 11em;
}


.metabox-form #postbox-container-1 .inside ul li label {
    display: inline-block;
    width: 60%;
}
.metabox-form #postbox-container-1 .inside ul li input[type="text"] {
    display: inline-block;
    width: 30%;
}

.metabox-form .inside ul li textarea {
    width: 60%;
}

.metabox-form .inside fieldset {
    border-top: 1px solid #eee;
}

.metabox-form .inside fieldset legend {
    padding: 0 5px 0 0;
}

.fc-content {
    text-align: center;
}

.fc-title a {
    color: #fff;
}

/* css for timepicker */
#ui-datepicker-div { display: none; }
.ui-datepicker{ z-index: 99999999 !important;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

#rrule-custom-container {
}

.rrule-custom {
}

.rrule-custom.weekly, .rrule-custom.monthly, .rrule-custom.yearly {
    margin-left: 25%;
}

.rrule-custom.weekly label {
    white-space:nowrap; 
    display:inline-block;
    padding-right: 50px;
}

.is-hidden {
    display: none;
}

#preview-legend {
    text-align: center;
}
#preview-legend li {
    padding: 0px 10px 0px 10px;
    display: inline-block;
    height: 50px;
}
#preview-legend span {
    display: block;
}

#preview-legend .preview-block{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px solid rgba(0, 0, 0, .2);
}

.preview-list-block {
    width: 20px;
    height: 20px;
    border-width: 1px solid rgba(0, 0, 0, .2);
}