#hoo-main * {
    margin: 0;
    padding: 0;
}

#hoo-main {
    min-height: 700px;
}

#hoo-main ul { list-style: none; }

#hoo-main .location-row:hover {
    cursor: pointer;
}

#hoo-main #location-list-container {
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 3px 0 #aaa;
    float: left;
    width: 45%;
    min-height: 700px;
}

#hoo-main #location-list-container li div{
    display: inline-block;
    vertical-align: middle;
    padding: 7.5px 2px 7.5px 8px;
}

#hoo-main #location-list-container .list-header div {
    padding: 5px 2px 5px 8px;
}

#hoo-main #location-list-container .list-header {
    background-color: #666;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

#hoo-main #location-list-container .location-row {
    overflow: auto;
    border-bottom: 1px solid #ddddff;
}

#hoo-main #location-list-container .location-row:hover {
    background-color: #ddddff;
}
#hoo-main #location-list-container .location-row.highlight {
    background-color: #ddddff;
}

#hoo-main #location-list-container .location-row:hover .location-name {
    border-right: 1px solid #ddddff;
}

#hoo-main #location-list-container .location-name {
}
#hoo-main #location-list-container .location-status {
    width: 20%;
    border-left: 1px solid #ccc;
    float: right;
    text-align: center;
}


#hoo-main #panel-container {
    padding-top: 10px;
    position: relative;
    margin-left: 45%;
}
#hoo-main .panel {
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 3px 0px #aaa;

    padding: 10px;
    min-height: 675px;
    background-color: white;
    position: absolute;
    z-index: 88888;
    display: none;
}

#hoo-main #map-canvas {
    min-height: 685px;
}

.is-hidden {
    display: none;
}

#hoo-main .address-picture-wrapper .location-image {
    float: left;
    width: 50%;
}

.fc-content {
    text-align: center;
}
.fc-container {
    line-height: 1em;
}