#hoo-main * {
    margin: 0;
    padding: 0;
}

#hoo-main {
    min-height: 300px;
}

#hoo-main ul { list-style: none; }

#hoo-main .location-row:hover {
    cursor: pointer;
}

#hoo-main #location-list-container {
    float: left;
    width: 30%;
    min-height: 300px;
}

#hoo-main #panel-container {
    position: relative;
    margin-left: 30%;
}
#hoo-main .panel {
    min-height: 300px;
    background-color: white;
    position: absolute;
    z-index: 99999999;
    display: none;
}

#hoo-main #map-canvas {
    min-height: 300px;
}