#hoo-main * {
    margin: 0;
    padding: 0;
}

#hoo-main {
    min-height: 750px;
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

#hoo-main #panel-container {
    top:32px;
    position: absolute;
    right: 0;
    width: 65%;
    border: 1px solid #aaa;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 3px 0px #aaa;
    height: 100%;
}

#hoo-main .panel {
    border-radius: 0 5px 5px 0;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    background-color: #fff;
    z-index: 20;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

#hoo-main .panel .content-wrapper {
    padding: 10px;
}

#hoo-main .location-row:hover {
    cursor: pointer;
}

#hoo-main #location-list-container {
    position: absolute;
    left: 0;
    width: 35%;
}

#hoo-main #locations-list {
    width: 100%;
    height: 100%
}

#hoo-main #location-list-container .location-list-footer {
    position: relative;
    bottom: 0;
    height: 32px;
    background-color: #666;
}

#hoo-main #location-list-container #locations-list .list-header {
    background-color: #666;
    color: #fff;
}

#hoo-main #location-list-container #locations-list th {
    padding: 5px;
}

#hoo-main #location-list-container #locations-list th.location-name {
    vertical-align: middle;
    text-align: left;
}

#hoo-main #location-list-container #locations-list th.location-status {
    vertical-align: middle;
    width: 33%;
}

#hoo-main #location-list-container #locations-list td {
    border-bottom: 0 solid #fff;
    padding: 5px;
}

#hoo-main #location-list-container #locations-list td.location-name {
    font-size: 100%;
    vertical-align: middle;
}

#hoo-main #location-list-container #locations-list td.location-name a {
    font-weight: bold;
}

#hoo-main #location-list-container #locations-list td.child {
    padding-left: 25px;
}

#hoo-main #location-list-container #locations-list td.child a {
    font-weight: normal;
}

#hoo-main #location-list-container #locations-list td.location-status {
    text-align: center;
}
#hoo-main #location-list-container #locations-list td.location-status span {
    display: block;
}

#hoo-main #location-list-container #locations-list td.location-status span.open {
    color: #006600;
    font-size: 125%;
}
#hoo-main #location-list-container #locations-list td.location-status span.closed {
    color: #990000;
    font-size: 125%;
}

#hoo-main #location-list-container #locations-list td.location-status span.until {
    font-size: 80%;
}

#hoo-main #location-list-container .location-row:hover {
    background-color: #ddddff;
}
#hoo-main #location-list-container .location-row.highlight {
    background-color: #ddddff;
}
#hoo-main #location-list-container .location-row.active {
    background-color: #ddddff;
}

#hoo-main .panel .location-detail {
    height: 100%;
}

#hoo-main .panel .location-detail h2.post-entry {
    margin: 0px 20px 20px 0px;
    text-shadow: none;
}

#hoo-main .panel .location-detail h2 a {
    color: #3b9bdb;
}

#hoo-main .panel .location-detail .fc-center {
    display: block;
}

#hoo-main .panel .location-detail .fc-center h2 {
    margin-bottom: 20px;
    text-shadow: none;
    font-size: 2em;
    color: #666;
}

#hoo-main .panel .location-detail h2 span.close-panel {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

#hoo-main .panel .location-detail .location-notice {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFF5CC;
    box-shadow: 0px 1px 3px #ccc;
}

#hoo-main .panel .location-detail .hours-calendar {
    display: block;
}

#hoo-main .panel .location-detail #location-header {
    font-size: 1.5em;
    padding: 10px 0px 5px 0px;
}

#hoo-main .panel .location-detail #location-url {
    padding: 5px 0px 5px 0px;
}

#hoo-main .panel .location-detail #location-description {
    padding: 5px 0px 10px 0px;
}

#hoo-main .panel .location-detail #contact {
    padding: 5px 0px;
    display: block;
}

#hoo-main .panel .location-detail #contact #address-picture-wrapper {
    float: left;
    width: 40%;
    min-height: 200px;
    border: 1px solid #eee;
    padding: 5px;
    margin: 0px 15px 10px 0px;
    box-shadow: 0px 1px 3px #ccc;
}

#hoo-main .panel .location-detail #contact #location-address h5 {
    margin-bottom: 5px;
}

#hoo-main .panel .location-detail #contact #location-handicap {
    margin: 10px 0px;
}

#hoo-main .panel .location-detail #contact #location-phone {
    margin: 10px 0px;
}

#hoo-main #map-canvas {
    border-radius: 0 5px 5px 0;
    height: 100%;
}

#hoo-main #hoo-map {
}

.is-hidden {
    display: none;
}

#hoo-main ul {
    list-style: none;
}

#hoo-main .hours-calendar {
    min-width: 475px;
    margin: 0 auto;
}

#hoo-main .fc-header-title h2 {
    white-space: normal !important;
}

#hoo-main .fc-view-month .fc-event {
    width: 2px !important;
}

#hoo-main .fc-button-content {
    padding: 0;
}
#hoo-main .fc-event-container {
}
#hoo-main .fc-content {
    text-align: center;
}

#hoo-main .fc tr td {
    padding: 0px;
}
#hoo-main .fc .toolbar h2 {
    font-size: 1em;
}

#hoo-main .fc-button-content {
    padding: 0;
}

#hoo-main .fc-event {
    box-shadow: 2px 2px 2px #706868;
}

#hoo-main .fc-today {
    font-weight: bold;
}

.ui-panel-inner {
    overflow: auto;
}

#category-legend {
    text-align: center;
    margin-bottom: 10px;
    background-color: #F0F0F0;
    border: thin solid #E6E6E6;
    padding: 5px 0px;
}

#category-legend li {
    display: inline-block;
}

#category-legend .legend-wrapper {
    margin-right: 10px;
}

#category-legend .legend-wrapper span {
    vertical-align: middle;
}

#category-legend .preview-block{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px; 
    border-width: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 800px) {

    #hoo-main #panel-container {
        display: none;
    }

    #hoo-main #location-list-container {
        width: 100%;
    }

}